#contact-section{
  background: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 11em;
  padding-bottom: 11em;
  text-align: center;
}

#contact-section h3{
  font-size: clamp(25px, 35px, 40px);
}

.call-btn{
  margin-top: 2em;
  background-color: #007fff;
  color:#fff;
  padding: 15px 30px;
	border-radius: 25px;
}

.call-btn:hover{
  color:#fff;
  text-decoration: none;
}